<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
	</settings>
	<!-- <typeAliases>
	    
		<package name="com.yooyo.emall" />
		
		<package name="com.degetongback.web.**.mapper" />
		<package name="com.degetongback.web.**.dao" />
	</typeAliases> -->
	<!-- <plugins>
		<plugin interceptor="org.mybatis.extend.interceptor.PaginationInterceptor" />
	</plugins> -->
</configuration>