<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http pattern="/static/**" security="none"/>
	<http pattern="/weixin/**" security="none"/>
	<http pattern="/token/**" security="none"/>
	<http pattern="/download/**" security="none"/>
	<http pattern="/upload/**" security="none"/>
	
	<http auto-config="true" use-expressions="false">
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456picme" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="admin2" password="123456picme" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>